@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@700;800&family=Nanum+Myeongjo:wght@400;700&family=Song+Myung&family=Source+Sans+Pro:wght@300;400&display=swap');


.detailWrap  {

 
    font-weight: 600;
 
 }

 .profileDetails {
 
    font-weight: 600;
 

 }


 .profileList {

 
    font-weight: 600;
 }
 